<html>
<head>
<title> ###TITLE### </title>
<link rel="stylesheet" href="https://tosstalk.com/pinephone/stylesheet.css" type="text/css"> 
</head>
<body>
------
<h1>OS: ###OS### - Build: ###BUILD###</h1>
<h2>Device: - ###DEVICE###</h2>
<h3>###DATE###</h3>
<p>Results: ###RESULT###</p>
<table class="tg">
<tbody>
<tr>
<td class="tg-norm">Test</td>
<td class="tg-long">Description</td>
<td class="tg-long">Notes</td>
<td class="tg-norm">Results</td>
</tr>
------
<tr>
<td class="tg-norm">###TEST-NAME###</td>
<td class="tg-long">###TEST-DESCRIPTION###</td>
<td class="tg-long">###TEST-NOTES###</td>
<td class="###RESULTS-COLOR###">###TEST-RESULTS###</td>
</tr>
------
</tbody>
</table>
------
</body>
</html>
